@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --button-primary: 348, 100%, 50%;
    --button-secondary: 228, 22%, 96%;

    --button-primary-text: 210 40% 98%;
    --button-secondary-text: 228 14% 29%;

    --text-primary: 230 30% 96%;
    --text-default: 229 27% 8%; /* #0F111A */
    --text-secondary: 228 14% 29%; /* #404454 */
    --text-muted: 229 10% 43%; /* #636779 */
    --text-white: 0 0% 100%; /* #FFFFFF */

    --background-secondary: 230 30% 96%; /* #F2F3F8 */
    --background-secondary-hover: 230 30% 93%;
    --background-accent: 220 100% 92%;
    --background-tertiary: 229 22% 90%; /* #E0E2EB */

    --background: 220 60% 99%; /* #FBFCFE */
    --foreground: 229 27% 8%; /* #0F111A */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 348 100% 50%; /* #FF0420 */
    --primary-foreground: 210 40% 98%;

    --secondary: 229 22% 96%; /* #F2F3F8 */
    --secondary-foreground: #404454;

    --muted: 229 15% 77%;
    --muted-foreground: 229 10% 43%; /* #636779 */
    --color-text-muted: 240 3% 46%; /* #71717A */

    --accent: 220 100% 92%;
    --accent-foreground: 217 70% 53%;

    --success: 126, 100%, 92%;
    --success-foreground: 131, 85%, 35%;

    --destructive: 353 100% 51%; /* #FF0420 */
    --destructive-foreground: 352, 100%, 36%;

    --border: 229 22% 90%; /* #E0E2EB */
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --callout: 220 100% 92%; /* #D6E4FF */
    --callout-foreground: 217 70% 53%; /* #0E4CAF */
    --callout-strong: 217 70% 53%; /* #3374DB */

    --neutral-600: 228 14% 29%; /* #404454 */
    --red-500: 348 100% 50%; /* #FF0420 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 25% 3%; /* #05060B */
    --foreground: 229 22% 90%; /* #E0E2EB */

    --card: 240 25% 3%;
    --card-foreground: 229 22% 90%;

    --popover: 240 25% 3%;
    --popover-foreground: 229 22% 90%;

    --primary: 348 100% 50%; /* #FF0420 */
    --primary-foreground: 229 22% 90%;

    --secondary: 229 27% 8%; /* #0F111A */
    --secondary-foreground: 228 14% 80%; /* #BCBFCD */

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 228 14% 61%; /* #9195A6 */
    --color-text-muted: 240 3% 65%; /* #A1A1AA */

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --success: 129 65% 53%;
    --success-foreground: 129 65% 53%;

    --destructive: 348 100% 50%; /* #FF0420 */
    --destructive-foreground: 210 40% 98%;

    --border: 228 14% 29%; /* #404454 */
    --input: 228 14% 29%;
    --ring: 212.7 26.8% 83.9%;

    --text-default: 229 22% 90%; /* #E0E2EB */
    --text-secondary: 228 14% 80%; /* #BCBFCD */
    --text-muted: 228 14% 61%; /* #9195A6 */
    --text-white: 0 0% 100%; /* #FFFFFF */

    --background-secondary: 223 16% 17%; /* #232634 */
    --background-tertiary: 228 14% 29%; /* #404454 */

    --callout: 220 100% 23%; /* #002D75 */
    --callout-foreground: 214 98% 83%; /* #AAC9FD */
    --callout-strong: 217 70% 53%; /* #3374DB */

    --neutral-600: 228 14% 29%; /* #404454 */
    --red-500: 348 100% 50%; /* #FF0420 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  p {
    @apply text-base font-normal text-inherit;
  }
}

@layer utilities {
  .card {
    @apply bg-background text-card-foreground rounded-3xl border border-solid border-border p-16;
  }
  .bg-rainbow {
    background: linear-gradient(
      180deg,
      rgba(255, 239, 209, 1) 0%,
      rgba(255, 209, 214, 1) 25%,
      rgba(210, 203, 255, 1) 50%,
      rgba(156, 255, 231, 1) 75%,
      rgba(166, 255, 180, 1) 100%
    );
  }
  .bg-gradient {
    background: linear-gradient(
      180deg,
      #ffe0cc 0%,
      rgba(255, 224, 204, 0) 100%
    );
  }
  .bg-gradient-secondary {
    background: linear-gradient(
      180deg,
      rgba(242, 243, 248, 0) 0%,
      #f2f3f8 100%
    );
  }
  .bgAlternativeCallout {
    background: #d6e4ff;
  }

  .button-primary {
    @apply bg-button-primary text-button-primary-foreground hover:!bg-button-primary-hover;
  }

  .button-secondary {
    @apply bg-button-secondary text-button-secondary-foreground hover:!bg-button-secondary-hover;
  }

  .button-outline {
    @apply text-foreground border border-input bg-background hover:!bg-background hover:opacity-80;
  }

  .input-container {
    @apply flex items-center self-start w-full px-3 py-2 border border-border rounded-md gap-1 text-secondary-foreground h-10;
  }

  .text-h4 {
    @apply font-semibold text-xl;
  }
}

.fc-authkit-signin-button > button {
  @apply !bg-destructive;
}

.fc-authkit-signin-button button {
  @apply px-4 py-2 !text-sm !font-semibold !border;
}

/*Helps with Debugging*/
div:hover {
  @apply border-2 border-red-500;
}

