@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --button-primary: 348, 100%, 50%;
    --button-secondary: 228, 22%, 96%;

    --button-primary-text: 210 40% 98%;
    --button-secondary-text: 228 14% 29%;

    --text-primary: 230 30% 96%;
    --text-default: 229 27% 8%;
    --text-secondary: 228 14% 29%;
    --text-muted: 229 10% 43%;

    --background-secondary: 230 30% 96%;
    --background-secondary-hover: 230 30% 93%;
    --background-accent: 220 100% 92%;

    --background: 220 60% 99%;
    --foreground: 229 27% 8%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 229 22% 96%;
    --secondary-foreground: #404454;

    --muted: 229 15% 77%;
    --muted-foreground: 229 10% 43%;

    --accent: 220 100% 92%;
    --accent-foreground: 217 70% 53%;

    --success: 126, 100%, 92%;
    --success-foreground: 131, 85%, 35%;

    --destructive: 353 100% 51%;
    --destructive-foreground: 352, 100%, 36%;

    --border: 229 22% 90%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: #0f111a;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --success: 129 65% 53%;
    --success-foreground: 129 65% 53%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply bg-background text-foreground;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  p {
    @apply text-base font-normal text-inherit;
  }
}

@layer utilities {

  .card {
    @apply bg-background text-card-foreground rounded-3xl border border-solid border-border p-16;
  }
  .bg-rainbow {
    background: linear-gradient(
      180deg,
      rgba(255, 239, 209, 1) 0%,
      rgba(255, 209, 214, 1) 25%,
      rgba(210, 203, 255, 1) 50%,
      rgba(156, 255, 231, 1) 75%,
      rgba(166, 255, 180, 1) 100%
    );
  }
  .bg-gradient {
    background: linear-gradient(
      180deg,
      #ffe0cc 0%,
      rgba(255, 224, 204, 0) 100%
    );
  }
  .bg-gradient-secondary {
    background: linear-gradient(
      180deg,
      rgba(242, 243, 248, 0) 0%,
      #f2f3f8 100%
    );
  }
  .bgAlternativeCallout {
    background: #d6e4ff;
  }

  .button-primary {
    @apply bg-button-primary text-button-primary-foreground hover:!bg-button-primary-hover;
  }

  .button-secondary {
    @apply bg-button-secondary text-button-secondary-foreground hover:!bg-button-secondary-hover;
  }

  .button-outline {
    @apply text-foreground border border-input bg-background hover:!bg-background hover:opacity-80;
  }

  .input-container {
    @apply flex items-center self-start w-full px-3 py-2 border border-border rounded-md gap-1 text-secondary-foreground h-10;
  }

  .text-h4 {
    @apply font-semibold text-xl;
  }
}

.fc-authkit-signin-button > button {
  @apply !bg-destructive;
}

.fc-authkit-signin-button button {
  @apply px-4 py-2 !text-sm !font-semibold !border;
}
